/.idea
/build/
/.gradle/
/src/main/resources/yan0510.json
/src/main/resources/yan0511.json
.DS_Store
src/.DS_Store
claim-percentage-overview.json
json-schema-parser.iml
/deidentifiedClaims3.json
/deidentifiedClaims2.json
/deidentifiedClaims4.json
/deidentifiedClaims1.json
/src/test/resources/data/
